.container {min-width:1280px}

header {
	height:74px; background: rgba(30,21,9,.9); position:absolute; top:0; left:0; right:0; z-index: 900;}
header .header_inner {
	position:relative; width:1280px; height:74px; margin:0 auto}
header .header_inner .logo {
	position:absolute; top:21px; left:70px; bottom:0; margin: 0 auto; width:390px; height:21px; } 

nav {position:absolute; top:20px; right:0}
nav .navlist {overflow:hidden;}
nav .navlist > li {float:left}
nav .navlist > li > a {
	display:block; height:30px; 
	color:#fff; padding:10px 20px}  

.visual {
	position:relative; overflow: hidden; height:1080px; z-index: 800}
.visual .inner {
	position:absolute; height:692px; width:1920px;
	left:50%; top:0; margin-left:-960px}
.visual .inner img { }
 

.page {position:relative; z-index: 1000;}
.page.about {background:#ffe392; border:1px solid #f00; }
.page.about > .inner {position:relative; width:1280px; margin:-420px auto 0}     
.page.about > .inner .titset {}
.page.about > .inner .titset .hd3 {
	position:absolute; top:21px; left:70px; bottom:0; 
	margin: 0 auto; width:390px; height:56px;}

.page.about .about_info {
	color:#624e29; display:flex; justify-content:space-between;}
.page.about .about_info .grid { 
	position:absolute; top:57px; left:70px; margin:0 auto;
	line-height:30px;}
.page.about .about_info .grid .name {line-height:55px;} 
.page.about .about_info .grid .name .en {}
.page.about .about_info .grid .name .ic {} 

.page.about .about_info .grid .sk {margin-left:450px;}
.page.about .about_info .grid .list {}
.page.about .about_info .grid .list > li {}
.page.about .about_info .grid .list > li {}
.page.about .about_info .grid .list > li .stxt {
	display:inline-block; min-width:100px}
.page.about .about_info .grid .list > li .grbar {
	display:inline-block; position:relative; width: 178px; height:12px; background:#ebebeb; border-radius: 50px; overflow: hidden}
.page.about .about_info .grid .list > li .grbar .inner {
	position:absolute; top:0; left:0; height:100%; background:#0d0d05; border-radius: 50px}

 
.page.about .about_info .grid .ex {margin-left:890px; line-height:35px; }
.page.about .about_info .grid .ex .exlist {}
.page.about .about_info .grid .ex .exlist .ed {}


.page.view01 {
	position:relative; border:1px solid #f00; background:#ffe392; height:100vh}
.page.view01 .inner {display:flex; justify-content: center; width:1280px; margin:0 auto; border:1px solid #f00; height:100%; padding:0 0 0 67px
}
.page.view01 .inner .grid {flex:1}

.page.view01 .inner .grid .renewal { }
.page.view01 .inner .grid .renewal > li { }
.page.view01 .inner .grid .renewal > li > a { }
.page.view01 .inner .grid .renew_img { }
.page.view01 .inner .grid .renew_img img {}

.page.view01 .inner .grid:last-child {flex:none; width:850px; display: flex; align-items: flex-end;}



/*
.page.view01 .text {
	position:absolute; top:194px; left:70px; right:0; bottom:0;}
.page.view01 .renewal {
	margin-top:476px; margin-left:70px; line-height:30px;}
.page.view01 .renewal .title {color:#584323; font-size:90% }
.page.view01 .renewal .title +.explain {color:#584323; font-size:85%}
.page.view01 .renew_img {margin:-420px 0px 0 350px;}
*/

















